<body>
<div class="container">
	<p id="notice">
   <%= notice %> 
  </p>
  <div class="row">
    <div class="col-md-3">
<h2>User info </h2>

 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>  

<table class="table">
	<tbody>
    
    <tr>
      <th>name</th>
      <th><%= @current_user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
    
</tbody>
</table>
<% if @user.id == current_user.id %>
        <%= link_to '', edit_user_path(@user.id), class:"col-xs-12 btn btn btn-default glyphicon glyphicon-wrench"  %>
    <% else %>
        <%= link_to '', user_path(current_user.id), class:"col-xs-12 btn btn btn-default glyphicon glyphicon-wrench"  %>
    <% end %>


<p class="notice"></p>

<h2>New Book</h2>
<%= form_for :book,url: (@book) do |f| %>

<% if @book.errors.any? %>
     <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
     </ul>
<% end %>

<p>Title</p>
<%= f.text_field :title,class:'col-xs-12' %>

<p>Opinion</p>
<%= f.text_area :body,class:'col-xs-12' %>

<p>
  <%= f.submit 'Create Book',class:"col-xs-12 btn btn-primary" %>
</p>

<% end %>
</div>
<div class="col-md-9">
 <table class="table">
	
    <h2>Users</h2>
   <thead>
   <tr>
    
     <th>Image</th>
     <th>Name</th>
     <th colspan="3"></th>
   </tr>
   </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, size:"50x50", format: 'jpeg',  fallback: "no_image.jpg" %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user_path(user.id) %></td>
      </tr>
     <% end %>
   </tbody>
  </table>
  
</div>

</div>
</div>
</body>