<body>
<div class="container">
	<p id="notice">
   <%= notice %> 
  </p>
  <div class="row">
    <div class="col-xs-3">
<h2>User info</h2>

 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',  fallback: "no_image.jpg" %>  

<table class="table">
	<tbody>
		<tr>
			<th>name</th>
			<th><%= @user.name %></th>
		</tr>
		<tr>
			<th>Introduction</th>
			<th><%= @user.introduction %></th>
		</tr>
	</tbody>
</table>

<% if @user.id == current_user.id %>
        <%= link_to '', edit_user_path, class:"col-xs-12 btn btn btn-default glyphicon glyphicon-wrench"  %>
    <% else %>
        <%= link_to '', user_path(current_user.id), class:"col-xs-12 btn btn btn-default glyphicon glyphicon-wrench"  %>
    <% end %>




<h2>New Book</h2>
<%= form_for :book,url: (@book) do |f| %>

<% if @book.errors.any? %>
     <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
     </ul>
<% end %>

<p>Title</p>
<%= f.text_field :title,class:'col-xs-12' %>

<p>Opinion</p>
<%= f.text_area :body,class:'col-xs-12' %>

<p>
  <%= f.submit 'Create Book',class:"col-xs-12 btn btn-primary" %>
</p>

<% end %>
</div>
<div class="col-xs-9">
 <table class="table">
	
    <h2>Books detail</h2>
   

  <tbody>

      <tr>
        <td><%= attachment_image_tag @user, :profile_image, size:"100x100", format: 'jpeg', fallback: "no_image.jpg" %>
          <br><%= link_to @user.name,user_path(@user.id)%></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%= link_to 'Edit', edit_book_path,class:"btn-sm btn-success" %></td>
        <td><%= link_to 'Destroy',book_path(@book),  method: :delete, data: { confirm: '本当に消しますか?' },class:"btn-sm btn-danger" %></td>
        <% end %>
      </tr>
     
   </tbody>
  </table>
  
</div>

</div>
</div>
</body>